
.leaderboard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: flex;
  padding-left: auto;
  padding-right: auto;
  .leaderboard-header {
    margin: 25px 50px 0px;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
     .item {
          margin: auto;
          width: 5%;
      }
  }
}
.leaderboard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: flex;
  padding-left: auto;
  padding-right: auto;
  .leaderboard-child {
    border: 1px solid #ddd;
    margin: 0px 50px;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
     .item {
          margin: auto;
          width: 5%;
      }
  }
}
.leaderboard-child:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.leaderboard-child:hover {background-color: black;}
  

  .btn {
    border: none;
    text-align: center;
    width: 100%;
    background-color: #1884c3;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 5px 0px;
    transition-property: border, color, background-color;
    transition-duration: 200ms, 200ms, 200ms;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
}



  /* Dropdown Button */
.dropbtn {
    background-color: #1884c3;
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(204, 32, 32);
    max-width: 7%;
    margin: 0px;
    padding: 5px;
    min-width: 56px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height:255px;
    overflow:auto;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content .btn:hover {background-color: rgb(204, 32, 32); border-color: rgb(204, 32, 32); color: black}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(204, 32, 32); border-color: rgb(204, 32, 32); color: black}
  
  #chevron_down {
    height:10px;
  }

  #chevron_up {
    height:10px;
  }

  .header {
    border: none;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    margin: 0px;
    padding: 5px;
  }

  .header:hover {border: 1px solid #ddd; font-weight: 800}

  .leaderIcon {
    height: 40px;
  }

  .banner-opacity-leaderboard {
    background-color: rgba(255, 255, 255, 0.5);
  }
