html, body {
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: magenta;
  
    height: 50px;
    width: 100%;
  
    margin: 0;
  
    position: fixed;
  
    list-style-type: none;
  }
  
  li {
    display: flex;
    align-items: center;
  
    height: 100%;
  
    padding: 0 25px;
  }
  
  .active {
    background: darkkhaki;
  }
  
  .div-item {
    height: 100vh;
  
    padding-top: 75px;
  }
  
  #home {
    background: steelblue;
  }
  
  #portfolio {
    background: olivedrab;
  }
  
  #about {
    background: coral;
  }
  
  #contact {
    background: mediumseagreen;
  }