.newsletter-container {
    background-image: url(/pics/cpl_logo_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    height: 90%;
    width: 100%;
    color: white;
    position: relative;
    z-index: 0;
    word-wrap: break-word;
    justify-content: center;
    overflow: auto;
}

.banner-opacity-newsletter {
    background-color: rgba(255, 255, 255, 0.3);
    overflow: auto;
    min-height: 91vh;
    margin-top: 80px;
}

.news-content {
    width: 90%;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: rgba(128, 128, 128, 0.9);
    height: 100%;
    min-height: 85vh;
    justify-content: center;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.newsPage {
    width: 90%;
    height: 50px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #1884c3;
    border: 1px solid black;
    background-color: white;
}

.currentNews {
    background-color: white;
    border: 3px black solid;
    width: 90%;
    height: 50px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #1884c3;
}

.news-nav {
    max-width: 250px;
    background-color: #f7f7f7;
    flex: 15%;
    color: black;
    height: 100vh;
    margin-top: 40px;
    position: fixed;
    top: 50px;
    width: 20%;
}

.news-nav-item {
    background-color: #f7f7f7;
    padding: 10px 0;
    border: 1px solid black;
    text-align: center;

}

.post {
    background-color: rgba(128, 128, 128, 0.9);
}

.news-row {  
    display: flex;
  }

  .news-posts {
    flex: 70%;
    width: 70%;
    padding: 40px;
    margin-left: 15%;
    height: 1000px;
    overflow: auto;
  }

  .news-title {
      text-align: center;
      width: 80%;
      margin-left: 20%;
  }

  .one-post {
      background-color: rgba(128, 128, 128, 0.9);
      padding: 40px;
      margin:30px;
  }

  .news-date {
      font-size: 30px;
  }

  .line {
      font-size: 20px;
      text-align: center;
  }

  .months {
      height: 100vh;
  }




  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.menu {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.light-menu {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#menu-center {
    width: 980px;
    height: 1000px;
    margin: 0 auto;
    display: block;
    background-color: white;
}
#menu-center ul {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#menu-center ul li a{
		padding: 32px 40px;
}
#menu-center ul li {
    list-style: none;
    margin: 0 0 0 -4px;
    display: inline;

}
.active-news, #menu-center ul li a:hover  {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
	background-color: rgba(0, 0, 0, 0.12);
	padding: 32px 40px;

}
ul {
    width: 100px;
    height:100px;
}
a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 72px;
}
#home {
    background-color: #286090;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#portfolio {
    background: gray; 
    height: 100vh;
    width: 100%;
}
#about {
    background-color: blue;
    height: 100vh;
    width: 100%;
}
#contact {
    background-color: rgb(154, 45, 45);
    height: 100vh;
    width: 100%;
}

.loading-message {
    height: 50px;
}

.loading-message h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
    font-size: 100px;
  }
  /* The typing effect */
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 38%;
    }
  }
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: white;
    }
  }