.loading {
width: 100%;
}

.player-banner {
    margin-top: 80px;
    background-image: url(/pics/cpl_logo_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    height: 90%;
    width: 100%;
    color: white;
    position: relative;
    z-index: 0;
    word-wrap: break-word;
    justify-content: center;
    overflow: auto;
}

.player-banner-opacity {
    height: 87vh;
    background-color: rgba(255, 255, 255, 0.3);
}


.header-profile {
    top: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 40px;
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    justify-self: center;
    position: absolute;
}


.stats-container {
    top: 85px;
    position: relative;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-areas:
       
        'header-0 header-1 header-2 header-3 header-4 header-5 header-6 header-7 header-8 header-9'
        'career-0 career-1 career-2 career-3 career-4 career-5 career-6 career-7 career-8 career-9'
         'ffa-0 ffa-1 ffa-2 ffa-3 ffa-4 ffa-5 ffa-6 ffa-7 ffa-8 ffa-9'
        'team-0 team-1 team-2 team-3 team-4 team-5 team-6 team-7 team-8 team-9'
        'duel-0 duel-1 duel-2 duel-3 duel-4 duel-5 duel-6 duel-7 duel-8 duel-9';
    grid-gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    
    border: 1px solid #ddd;

}


.stats {
    text-align: center;
    .header {
        grid-area: 'header';
    }
    .career-0 {
        grid-area: 'career-0';
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 20px;
        font-weight: bold;
        
    }
    .career-1 {
        grid-area: 'career-1';
        background-color: rgba(0, 0, 0, 0.9);
        
    }
    .career-2 {
        grid-area: 'career-2';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-3 {
        grid-area: 'career-3';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-4 {
        grid-area: 'career-4';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-5 {
        grid-area: 'career-5';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-6 {
        grid-area: 'career-6';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-7 {
        grid-area: 'career-7';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-8 {
        grid-area: 'career-8';
        background-color: rgba(0, 0, 0, 0.9);
    }
    .career-9 {
        grid-area: 'career-9';
        background-color: rgba(0, 0, 0, 0.9);
    }
        .ffa-0 {
            grid-area: 'ffa-0';
            font-size: 20px;
            font-weight: bold;
        }
        .ffa-1 {
            grid-area: 'ffa-1';
        }
        .ffa-2 {
            grid-area: 'ffa-2';
        }
        .ffa-3 {
            grid-area: 'ffa-3';
        }
        .ffa-4 {
            grid-area: 'ffa-4';
        }
        .ffa-5 {
            grid-area: 'ffa-5';
        }
        .ffa-6 {
            grid-area: 'ffa-6';
        }
        .ffa-7 {
            grid-area: 'ffa-7';
        }
        .ffa-8 {
            grid-area: 'ffa-8';
        }
        .ffa-9 {
            grid-area: 'ffa-9';
        }
        .team-0 {
            grid-area: 'team-0';
            font-size: 20px;
            font-weight: bold;
        }
        .team-1 {
            grid-area: 'team-1';
            
        }
        .team-2 {
            grid-area: 'team-2';
        }
        .team-3 {
            grid-area: 'team-3';
        }
        .team-4 {
            grid-area: 'team-4';
        }
        .team-5 {
            grid-area: 'team-5';
        }
        .team-6 {
            grid-area: 'team-6';
        }
        .team-7 {
            grid-area: 'team-7';
        }
        .team-8 {
            grid-area: 'team-8';
        }
        .team-9 {
            grid-area: 'team-9';
        }
        .duel-0 {
            grid-area: 'duel-0';
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 20px;
            font-weight: bold;
        }
        .duel-1 {
            grid-area: 'duel-1';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-2 {
            grid-area: 'duel-2';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-3 {
            grid-area: 'duel-3';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-4 {
            grid-area: 'duel-4';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-5 {
            grid-area: 'duel-5';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-6 {
            grid-area: 'duel-6';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-7 {
            grid-area: 'duel-7';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-8 {
            grid-area: 'duel-8';
            background-color: rgba(0, 0, 0, 0.9);
        }
        .duel-9 {
            grid-area: 'duel-9';
            background-color: rgba(0, 0, 0, 0.9);
        }
}
